<ion-view title="Dashboard" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="dashboard-list3">
      <ion-item class="item-thumbnail-left" id="dashboard-list-item1" ui-sref="tabsController.studentDetailsPage">
        <img src="img/iCYCy3wfSJWRrofvCvZv_stud.png">
        <h2>Student Details</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="dashboard-list-item2" ui-sref="tabsController.myTimetable">
        <img src="img/D9oWHkCR8A463CCoiNgO_Calpng.png">
        <h2>Timetable</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="dashboard-list-item5" ui-sref="tabsController.myTask">
        <img src="img/oUe9jnyzRvKqYq1OCzg7_note.png">
        <h2>Task</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="dashboard-list-item3"
      ui-sref="tabsController.gPACalculator">
        <img src="img/AUTRb8CoQWe3fWw75GRF_ncalculator.png">
        <h2>GPA Calculator</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="dashboard-list-item4">
        <img src="img/xrxHWGINTj2yu4ONn6KM_alarm.png">
        <h2>Alarm</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>