<ion-view title="Calculate Expected Grade" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="updateDetails-form4" class="list">
  	
    <div class="button-bar">
       <a ui-sref="tabsController.gPACalculator" id="gpa-button8" class="button button-positive">Calculate GPA</a>
       <a ui-sref="tabsController.expectedGrade" id="cgpa-button" class="button button-assertive"class="button button-assertive">Calculate expected GPA</a>
       <a ui-sref="tabsController.cgpaCalculator" id="cgpa-button9"class="button button-energized">Calculate CGPA</a>
    </div> 

    <div>
    
    </div>



      </form>
  </ion-content>
</ion-view>