<ion-view title="My Timetable" id="page3">
  <ion-content padding="true" class="has-header">
  	
  	<div>
          <div class="row header">
            <div class="col">No</div>
            <div class="col">Task Title</div>
            <div class="col">Task Description</div>
            <div class="col">Deadlines</div>
            <div class="col">Activity</div>
          </div>


          <div class="row" ng-repeat="p in listall">
            <div class="col">{{p.id}}</div>
            <div class="col">{{p.Student.no_matric}}</div>
            <div class="col">{{p.timetable_details}}</div>
            <div class="col">{{p.timetable_title}}</div>
            <div class="col"><button class="button" ng-click="">Delete</button></div>
          </div>

   </div>



   <div class="button-bar">
       <a ui-sref="tabsController.updateDetails" id="studentDetailsPage-button4" class="button button-assertive  button-block">Add</a>
       <a ui-sref="tabsController.dashboard" id="studentDetailsPage-button6" class="button button-positive  button-block">Generate</a>
   </div> 

   {{data1.students_id}}

  </ion-content>
</ion-view>