<ion-view id="page1">
  <ion-tabs class="tabs-balanced tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Student Details" icon="ion-android-person" href="#/page1/page2" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="My Timetable" icon="ion-ios-calendar-outline" href="#/page1/tab2/page3" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="My Task" icon="ion-android-clipboard" href="#/page1/tab3/page4" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>