<ion-view title="Update Details" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="updateDetails-form3" class="list">
      <ion-list id="updateDetails-list2">
        <label class="item item-input" id="updateDetails-input4">
          <span class="input-label">Student ID</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="updateDetails-input5">
          <span class="input-label">Student Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="updateDetails-input6">
          <span class="input-label">Course Code</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="updateDetails-input7">
          <span class="input-label">Telephone No</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 48px;"></div>
      <a ui-sref="tabsController.studentDetailsPage" id="updateDetails-button3" class="button button-positive  button-block">Update</a>
      <a ui-sref="tabsController.studentDetailsPage" id="updateDetails-button7" class="button button-assertive  button-block">Cancel</a>
    </form>
  </ion-content>
</ion-view>